textarea {
    white-space: pre;
    overflow-wrap:    normal;
    overflow-x:  scroll;
}

.bg-info {
    background-color: #3a8c9a !important;
}

.colorHeader {
    background-color: #3a8c9a !important;
    color: white;
}

html, body {
    height:100%;
    min-height:100%;
    overflow: hidden;
}
  
body {
    display: flex;
    flex-direction: column;
}
  
.StickyHeader, .StickyFooter {
    flex: 0 0 auto;
}
  
.StickyContent {
    flex: 1 1 auto;
    overflow-y: scroll;
}